div{
    /*border: solid black 3px;*/
}

body{
    font-family: 'Comfortaa', cursive;
}

#headTitle{
    /*font-family: 'Montserrat Subrayada', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 90px;
    margin-bottom: 0;
    margin-top: 3%;
}

#headTitle span{
    color: red;
}

#subTitle{
    /*font-family: 'Montserrat Subrayada', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    margin: 30px;
}


.container{
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;

}

.showCase{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    text-align: center;
    line-height: 500px;
}

.default{
    display: none;
}

.btn-container{
    margin-left: 20%;
    width: 60%  ;
    text-align: center;
}

.btn-item{
    width: 15%;
    height: 40px;
    line-height: 40px;
    margin-left: 3.5%;
    float: left;
    cursor: pointer;
}

#b1:hover{
    border-bottom: red solid 3px;
    color: red;
}
#b2:hover{
    border-bottom: yellow solid 3px;
    color: yellow;
}
#b3:hover{
    border-bottom: blue solid 3px;
    color: blue;
}
#b4:hover{
    border-bottom: green solid 3px;
    color: green;
}
#b5:hover{
    border-bottom: #00aced solid 3px;
    color: #00aced;
}

#showCase1{
    background: red;
}

#showCase2{
    background: yellow;
}

#showCase3{
    background: blue;
}

#showCase4{
    background: green;
}

#showCase5{
    background: #00aced;
}

#showCase1{
    text-align: center;
    line-height: 600px;
}

#showCase1 img{
    width: 95%;
    height: auto;
    margin-top: 1.5%;
    vertical-align: center;
}

#showCase3 img{
    width: 95%;
    height: auto;
    margin-top: 1.5%;
    vertical-align: center;
}

/*For detail1*/

.upTown h1{
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
}

.upTown #5In5Title{
    color:red;
}

.upTown .description{
    font-family: 'Cousine', monospace;
    font-size: 18px;
    width: 80%;
    margin-bottom: 50px;
}

.pages{
    width: 70%;
    height: 60vh;
    margin-left: 15%;
    margin-bottom: 50px;
    border:black solid 3px;
}



.dayContainer{
    width: 70%;
    height: 100vh;
    margin-left: 15%;
    margin-bottom: 50px;
}

.precedents{
    text-align: center;
}

.precedents img{
    height: auto;
    width: 30%;
}

.dayContainer h1{
    font-size: 40px;
    font-weight: bold;
}

.dayContainer p{
    font-family: 'Cousine', monospace;
    font-size: 18px;
}

#sketchRight{
    display: inline-block;
    width: 70%;
    height: 300px;
    float: left;
    margin-left: 40px;
}

#sketchRight p{
    float: right;
}


#sketchLeft{
    float: left;
    border:solid black 3px;
    width: 20%;
    height: 300px;
    margin: 0;
}

#sketchLeft img{
    width: 100%;
    height: auto;
}

.row{
    width: 100%;
    text-align: center;
    height: 80px;
    /*border: solid black 3px;*/
    line-height: 80px;
}

.days{
    display: inline-block;
    width: 12%;
    height: 100%;
    /*border: solid black 3px;*/
    line-height: 40px;
    cursor: pointer;
}

.days:hover{
    color:red;
    text-decoration-line: underline;
    text-decoration-line: -moz-anchor-decoration;
}

.off{
    display: none;
}

.default{
    color: red;
    text-decoration-line: none;
}

/*1D page css*/

.upTown #1Dtitle{
    color:yellow;
}

.contentContainer{
    width: 60%;
    height: 100vh;
    margin-left: 20%;
    margin-bottom: 50px;
}

.consequences{
    display: inline-block;
    width: 30%;
    height: 100%;
    /*border: solid black 3px;*/
    line-height: 40px;
    cursor: pointer;
}

.contentContainer h1{
    font-size: 40px;
    font-weight: bold;
}

.contentContainer p{
    font-family: 'Cousine', monospace;
    font-size: 18px;
}
